In [1]:
#%pip install mysql-connector-python
#%pip install SQLAlchemy
#%pip install pymysql

In [2]:
import pandas as pd
import mysql.connector as conn
from sqlalchemy import create_engine
import pymysql

In [3]:
# conexion al servisor para crear una nueva base de datos vacia

conexion = conn.connect(host='localhost',  # 127.0.0.1
                       user='root',        # usuario
                       passwd='a1b2e3l4_IRONHACK'   # pass de SQL
                       )



cursor = conexion.cursor()


cursor

In [ ]:
#cursor.execute('create database stock;')    # creo la base de datos

In [5]:
conexion = conn.connect(host='localhost',  # 127.0.0.1
                       user='root',        # usuario
                       passwd='a1b2e3l4_IRONHACK',  # pass de SQL
                       database='stock'
                       )



cursor = conexion.cursor()

In [6]:
c = cursor.execute

c

In [7]:
# check

cursor.execute('show tables;')

for e in cursor:
    print(e)

('balance',)
('cashflow',)
('companies',)
('income',)
('quality',)
('ratios',)
('share',)
('valuation',)
('years',)

Ahora con la base de datos creada, traigo los CSV y los importo a sql

In [8]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/stock'
cursor = create_engine(str_conn)

Subo tabla empresas

In [9]:
empresas = pd.read_csv('../Clean Data/empresas/empresas.csv', index_col=0)

In [10]:
empresas.to_sql(name='companies',
            con=cursor,
            if_exists='append',
            index=False)

88

Subo tabla valuation

In [13]:
valuation = pd.read_csv('../Clean Data/valuation/valuation_total.csv', index_col=0)

In [14]:
valuation.to_sql(name='valuation',
            con=cursor,
            if_exists='append',
            index=False)

IntegrityError: (pymysql.err.IntegrityError) (1048, "Column 'pe_ratio' cannot be null")
[SQL: INSERT INTO valuation (enterprise_id, year_id, years, pe_ratio, pe_ratio_without_nri, `price-to-owner-earnings`, pb_ratio, `price-to-tangible-book`, `price-to-free-cash-flow`, `price-to-operating-cash-flow`, ps_ratio, peg_ratio, `ev-to-revenue`, `ev-to-ebitda`, `ev-to-ebit`, `earnings_yield_(joel_greenblatt)_%%`, `forward_rate_of_return_(yacktman)_%%`, shiller_pe_ratio, cyclically_adjusted_pb_ratio, cyclically_adjusted_ps_ratio, `cyclically_adjusted_price-to-fcf`, `dividend_yield_%%`, `fcf_yield_%%`) VALUES (%(enterprise_id)s, %(year_id)s, %(years)s, %(pe_ratio)s, %(pe_ratio_without_nri)s, %(price-to-owner-earnings)s, %(pb_ratio)s, %(price-to-tangible-book)s, %(price-to-free-cash-flow)s, %(price-to-operating-cash-flow)s, %(ps_ratio)s, %(peg_ratio)s, %(ev-to-revenue)s, %(ev-to-ebitda)s, %(ev-to-ebit)s, %(earnings_yield_Ajoel_greenblattZ_P)s, %(forward_rate_of_return_AyacktmanZ_P)s, %(shiller_pe_ratio)s, %(cyclically_adjusted_pb_ratio)s, %(cyclically_adjusted_ps_ratio)s, %(cyclically_adjusted_price-to-fcf)s, %(dividend_yield_P)s, %(fcf_yield_P)s)]
[parameters: [{'enterprise_id': 1, 'year_id': 94, 'years': 1994, 'pe_ratio': 13.04, 'pe_ratio_without_nri': 15.79, 'price-to-owner-earnings': 7.32, 'pb_ratio': 1.69, 'price-to-tangible-book': 1.69, 'price-to-free-cash-flow': 6.98, 'price-to-operating-cash-flow': 5.45, 'ps_ratio': 0.43, 'peg_ratio': 0.0, 'ev-to-revenue': 0.37, 'ev-to-ebitda': 4.74, 'ev-to-ebit': 6.21, 'earnings_yield_Ajoel_greenblattZ_P': 16.1, 'forward_rate_of_return_AyacktmanZ_P': 0.0, 'shiller_pe_ratio': 11.69, 'cyclically_adjusted_pb_ratio': 2.14, 'cyclically_adjusted_ps_ratio': 0.7, 'cyclically_adjusted_price-to-fcf': 16.28, 'dividend_yield_P': 1.33, 'fcf_yield_P': 14.37}, {'enterprise_id': 1, 'year_id': 95, 'years': 1995, 'pe_ratio': 10.65, 'pe_ratio_without_nri': 10.31, 'price-to-owner-earnings': 0.0, 'pb_ratio': 1.56, 'price-to-tangible-book': 1.56, 'price-to-free-cash-flow': 0.0, 'price-to-operating-cash-flow': 0.0, 'ps_ratio': 0.41, 'peg_ratio': 0.0, 'ev-to-revenue': 0.39, 'ev-to-ebitda': 5.13, 'ev-to-ebit': 6.03, 'earnings_yield_Ajoel_greenblattZ_P': 16.58, 'forward_rate_of_return_AyacktmanZ_P': -12.81, 'shiller_pe_ratio': 11.46, 'cyclically_adjusted_pb_ratio': 2.12, 'cyclically_adjusted_ps_ratio': 0.66, 'cyclically_adjusted_price-to-fcf': 30.39, 'dividend_yield_P': 1.2, 'fcf_yield_P': -8.78}, {'enterprise_id': 1, 'year_id': 96, 'years': 1996, 'pe_ratio': None, 'pe_ratio_without_nri': None, 'price-to-owner-earnings': 4.0, 'pb_ratio': 1.35, 'price-to-tangible-book': 1.35, 'price-to-free-cash-flow': 8.0, 'price-to-operating-cash-flow': 6.9, 'ps_ratio': 0.28, 'peg_ratio': 0.0, 'ev-to-revenue': 0.22, 'ev-to-ebitda': -1.95, 'ev-to-ebit': -1.76, 'earnings_yield_Ajoel_greenblattZ_P': -56.82, 'forward_rate_of_return_AyacktmanZ_P': 0.0, 'shiller_pe_ratio': 9.03, 'cyclically_adjusted_pb_ratio': 1.22, 'cyclically_adjusted_ps_ratio': 0.35, 'cyclically_adjusted_price-to-fcf': 15.27, 'dividend_yield_P': 0.51, 'fcf_yield_P': 12.23}, {'enterprise_id': 1, 'year_id': 97, 'years': 1997, 'pe_ratio': None, 'pe_ratio_without_nri': None, 'price-to-owner-earnings': 0.0, 'pb_ratio': 2.6, 'price-to-tangible-book': 2.6, 'price-to-free-cash-flow': 0.0, 'price-to-operating-cash-flow': 17.27, 'ps_ratio': 0.38, 'peg_ratio': 0.0, 'ev-to-revenue': 0.34, 'ev-to-ebitda': -2.79, 'ev-to-ebit': -2.45, 'earnings_yield_Ajoel_greenblattZ_P': -40.82, 'forward_rate_of_return_AyacktmanZ_P': 0.0, 'shiller_pe_ratio': 14.86, 'cyclically_adjusted_pb_ratio': 1.18, 'cyclically_adjusted_ps_ratio': 0.31, 'cyclically_adjusted_price-to-fcf': 20.93, 'dividend_yield_P': 0.0, 'fcf_yield_P': -10.39}, {'enterprise_id': 1, 'year_id': 98, 'years': 1998, 'pe_ratio': 17.89, 'pe_ratio_without_nri': 20.0, 'price-to-owner-earnings': 13.6, 'pb_ratio': 3.43, 'price-to-tangible-book': 3.43, 'price-to-free-cash-flow': 8.72, 'price-to-operating-cash-flow': 8.29, 'ps_ratio': 1.08, 'peg_ratio': 0.0, 'ev-to-revenue': 0.67, 'ev-to-ebitda': 7.87, 'ev-to-ebit': 10.11, 'earnings_yield_Ajoel_greenblattZ_P': 9.89, 'forward_rate_of_return_AyacktmanZ_P': 0.0, 'shiller_pe_ratio': 31.39, 'cyclically_adjusted_pb_ratio': 2.16, 'cyclically_adjusted_ps_ratio': 0.56, 'cyclically_adjusted_price-to-fcf': 27.64, 'dividend_yield_P': 0.0, 'fcf_yield_P': 14.16}, {'enterprise_id': 1, 'year_id': 99, 'years': 1999, 'pe_ratio': 16.88, 'pe_ratio_without_nri': 24.55, 'price-to-owner-earnings': 11.74, 'pb_ratio': 3.29, 'price-to-tangible-book': 3.29, 'price-to-free-cash-flow': 13.85, 'price-to-operating-cash-flow': 12.86, 'ps_ratio': 1.72, 'peg_ratio': 0.0, 'ev-to-revenue': 1.13, 'ev-to-ebitda': 8.6, 'ev-to-ebit': 9.61, 'earnings_yield_Ajoel_greenblattZ_P': 10.41, 'forward_rate_of_return_AyacktmanZ_P': 4.3, 'shiller_pe_ratio': 53.64, 'cyclically_adjusted_pb_ratio': 3.37, 'cyclically_adjusted_ps_ratio': 0.9, 'cyclically_adjusted_price-to-fcf': 35.34, 'dividend_yield_P': 0.0, 'fcf_yield_P': 7.72}, {'enterprise_id': 1, 'year_id': 0, 'years': 2000, 'pe_ratio': 11.79, 'pe_ratio_without_nri': 15.86, 'price-to-owner-earnings': 8.68, 'pb_ratio': 2.15, 'price-to-tangible-book': 2.15, 'price-to-free-cash-flow': 12.78, 'price-to-operating-cash-flow': 10.7, 'ps_ratio': 1.16, 'peg_ratio': 0.0, 'ev-to-revenue': 0.63, 'ev-to-ebitda': 4.17, 'ev-to-ebit': 4.49, 'earnings_yield_Ajoel_greenblattZ_P': 22.27, 'forward_rate_of_return_AyacktmanZ_P': 6.63, 'shiller_pe_ratio': 47.55, 'cyclically_adjusted_pb_ratio': 2.65, 'cyclically_adjusted_ps_ratio': 0.75, 'cyclically_adjusted_price-to-fcf': 36.9, 'dividend_yield_P': 0.0, 'fcf_yield_P': 8.4}, {'enterprise_id': 1, 'year_id': 1, 'years': 2001, 'pe_ratio': None, 'pe_ratio_without_nri': None, 'price-to-owner-earnings': 93.33, 'pb_ratio': 1.41, 'price-to-tangible-book': 1.43, 'price-to-free-cash-flow': 0.0, 'price-to-operating-cash-flow': 28.0, 'ps_ratio': 1.01, 'peg_ratio': 0.0, 'ev-to-revenue': 0.28, 'ev-to-ebitda': 23.18, 'ev-to-ebit': -41.21, 'earnings_yield_Ajoel_greenblattZ_P': -2.43, 'forward_rate_of_return_AyacktmanZ_P': 8.48, 'shiller_pe_ratio': 42.53, 'cyclically_adjusted_pb_ratio': 1.55, 'cyclically_adjusted_ps_ratio': 0.47, 'cyclically_adjusted_price-to-fcf': 21.49, 'dividend_yield_P': 0.0, 'fcf_yield_P': -0.85}  ... displaying 10 of 2281 total bound parameter sets ...  {'enterprise_id': 87, 'year_id': 22, 'years': 2022, 'pe_ratio': 11.35, 'pe_ratio_without_nri': 11.35, 'price-to-owner-earnings': 8.01, 'pb_ratio': 1.54, 'price-to-tangible-book': 1.54, 'price-to-free-cash-flow': 7.25, 'price-to-operating-cash-flow': 5.43, 'ps_ratio': 0.94, 'peg_ratio': 0.0, 'ev-to-revenue': 1.11, 'ev-to-ebitda': 5.82, 'ev-to-ebit': 9.55, 'earnings_yield_Ajoel_greenblattZ_P': 10.47, 'forward_rate_of_return_AyacktmanZ_P': 0.59, 'shiller_pe_ratio': 12.14, 'cyclically_adjusted_pb_ratio': 1.32, 'cyclically_adjusted_ps_ratio': 0.79, 'cyclically_adjusted_price-to-fcf': 18.96, 'dividend_yield_P': 5.7, 'fcf_yield_P': 13.9}, {'enterprise_id': 87, 'year_id': 23, 'years': 2023, 'pe_ratio': 8.32, 'pe_ratio_without_nri': 8.32, 'price-to-owner-earnings': 7.75, 'pb_ratio': 2.31, 'price-to-tangible-book': 2.31, 'price-to-free-cash-flow': 8.08, 'price-to-operating-cash-flow': 6.14, 'ps_ratio': 1.18, 'peg_ratio': 0.84, 'ev-to-revenue': 1.18, 'ev-to-ebitda': 4.57, 'ev-to-ebit': 5.97, 'earnings_yield_Ajoel_greenblattZ_P': 16.75, 'forward_rate_of_return_AyacktmanZ_P': 14.6, 'shiller_pe_ratio': 20.27, 'cyclically_adjusted_pb_ratio': 2.24, 'cyclically_adjusted_ps_ratio': 1.39, 'cyclically_adjusted_price-to-fcf': 26.21, 'dividend_yield_P': 3.25, 'fcf_yield_P': 12.97}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Subo tabla balance sheet

In [11]:
balance = pd.read_csv('../Clean Data/balance/balance_total.csv', index_col=0)

In [12]:
balance.to_sql(name='balance',
            con=cursor,
            if_exists='replace',
            index=False)

2281

Subo tabla cashflow

In [13]:
cashflow = pd.read_csv('../Clean Data/cashflow/cashflow_total.csv', index_col=0)

In [14]:
cashflow.to_sql(name='cashflow',
            con=cursor,
            if_exists='replace',
            index=False)

2281

Subo tabla Per Share Data

In [15]:
data = pd.read_csv('../Clean Data/data/data_total.csv', index_col=0)

In [16]:
data.to_sql(name='share',
            con=cursor,
            if_exists='replace',
            index=False)

2281

Subo tabla Income Statement

In [17]:
income = pd.read_csv('../Clean Data/income/income_total.csv', index_col=0)

In [18]:
income.to_sql(name='income',
            con=cursor,
            if_exists='replace',
            index=False)

2281

Subo tabla Valuation and Quality

In [19]:
quality = pd.read_csv('../Clean Data/quality/quality_total.csv', index_col=0)

In [20]:
quality.to_sql(name='quality',
            con=cursor,
            if_exists='replace',
            index=False)

2281

Subo tabla Valuation Ratios

In [21]:
ratios = pd.read_csv('../Clean Data/ratios/ratios_total.csv', index_col=0)

In [22]:
ratios.to_sql(name='ratios',
            con=cursor,
            if_exists='replace',
            index=False)

2281

Subo tabla Years

In [11]:
years = pd.read_csv('../Clean Data/years/years.csv', index_col=0)

In [12]:
years.to_sql(name='years',
            con=cursor,
            if_exists='append',
            index=False)

80