In [1]:
#%pip install mysql-connector-python
#%pip install SQLAlchemy
#%pip install pymysql

In [2]:
import pandas as pd
import mysql.connector as conn
from sqlalchemy import create_engine
import pymysql

In [3]:
# conexion al servisor para crear una nueva base de datos vacia

conexion = conn.connect(host='localhost',  # 127.0.0.1
                       user='root',        # usuario
                       passwd='a1b2e3l4_IRONHACK'   # pass de SQL
                       )



cursor = conexion.cursor()


cursor

In [ ]:
#cursor.execute('create database stock;')    # creo la base de datos

In [5]:
conexion = conn.connect(host='localhost',  # 127.0.0.1
                       user='root',        # usuario
                       passwd='a1b2e3l4_IRONHACK',  # pass de SQL
                       database='stock'
                       )



cursor = conexion.cursor()

In [6]:
c = cursor.execute

c

In [7]:
# check

cursor.execute('show tables;')

for e in cursor:
    print(e)

('balance',)
('cashflow',)
('companies',)
('income',)
('quality',)
('ratios',)
('share',)
('valuation',)
('years',)

Ahora con la base de datos creada, traigo los CSV y los importo a sql

In [33]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/stock'
cursor = create_engine(str_conn)

Subo tabla empresas

In [42]:
empresas = pd.read_csv('../Clean Data/empresas/empresas.csv', index_col=0)

In [62]:
empresas.to_sql(name='companies',
            con=cursor,
            if_exists='append',
            index=False)

88

Subo tabla valuation

In [38]:
valuation = pd.read_csv('../Clean Data/valuation/valuation_total.csv', index_col=0)

In [64]:
valuation.to_sql(name='valuation',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla balance sheet

In [40]:
balance = pd.read_csv('../Clean Data/balance/balance_total.csv', index_col=0)

In [65]:
balance.to_sql(name='balance',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla cashflow

In [28]:
cashflow = pd.read_csv('../Clean Data/cashflow/cashflow_total.csv', index_col=0)

In [66]:
cashflow.to_sql(name='cashflow',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla Per Share Data

In [30]:
data = pd.read_csv('../Clean Data/data/data_total.csv', index_col=0)

In [67]:
data.to_sql(name='share',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla Income Statement

In [32]:
income = pd.read_csv('../Clean Data/income/income_total.csv', index_col=0)

In [68]:
income.to_sql(name='income',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla Valuation and Quality

In [70]:
quality = pd.read_csv('../Clean Data/quality/quality_total.csv', index_col=0)

In [71]:
quality.to_sql(name='quality',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla Valuation Ratios

In [72]:
ratios = pd.read_csv('../Clean Data/ratios/ratios_total.csv', index_col=0)

In [73]:
ratios.to_sql(name='ratios',
            con=cursor,
            if_exists='append',
            index=False)

2281

Subo tabla Years

In [36]:
years = pd.read_csv('../Clean Data/years/years.csv', index_col=0)

In [63]:
years.to_sql(name='years',
            con=cursor,
            if_exists='append',
            index=False)

80